<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/settings.png');object-fit: contain;" >
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>User Profile</h1>
                    <span class="subheading">Update Your Settings</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {{#if errors}}
                <ul class="list-group">
                    {{#each errors}}
                        <li class="list-group-item text-danger">{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
            <form action="/profile/store" method="POST">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="UserName (Same as during Sign Up)"  value="{{data.username}}" class="form-control">

                    </div>
                </div>


                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="E-mail (Same as during Sign Up)" value="{{data.email}}" class="form-control">
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Date of Birth</label>
                        <input type="text" name="dob" placeholder="Format: YYYY-MM-DD" value="{{data.dob}}" class="form-control">

                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Contact Number</label>
                        <input type="text" name="phone" placeholder="Contact with Area Code" value="{{data.phone}}" class="form-control">

                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Web Site</label>
                        <input type="text" name="website" placeholder="Link to Website" value="{{data.website}}" class="form-control">
                    </div>
                </div>

                

                <div class="form-group my-4 text-center">
                    <button class="btn btn-primary">Update Profile</button>
                </div>
                
            </form>
        </div>
    </div>
</div>