<div class="container" style="overflow:hidden;width : 90%; margin: 0 auto; margin-top:6%">
    <div
        style="display:flex;flex-direction:row; flex-wrap:wrap-reverse;flex-grow:1;justify-content:space-between;border:1px solid rgb(185, 185, 185); padding : 6px;">
        <div style="border:1px solid black; flex-basis:50%;margin-right:10px" class="col-md">
            <div>
                <div style="float:left;clear:both;">Username: <br /> Name: <br /> Email: <br /> Address:
                    <br /></div>
                
                    <div>{{userdata.username}}</div>
                    <div>{{userdata.name}}</div>
                    <div>{{userdata.email}}</div>
                    <span style="float:left;">sadfsad fsadgsdaas</span>
              
            </div>
        </div>
        <div
            style="border: 1px solid black; padding : 4px; flex-basis:50%; overflow: hidden; height: 300px;width:200px; border:1px solid black">
            <img src="/posts/image-1561540076205.jpg" style="height: 100%;width:100%;" />
        </div>
    </div>
</div>


<div class="container">
    {{#each post}}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="/post/{{ this._id }}">
                        <h2 class="post-title">
                            {{ this.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ this.description }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="/users/{{this.username}} ">{{ this.username }}</a>
                        {{ this.createdAt }}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    {{/each}}

    <!-- Pager -->
    <div class="clearfix-center">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
</div>